<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.        
    mustMatch: true to only proxy to sites listed, false to proxy to any site 
    -->
<ProxyConfig allowedReferers="*" mustMatch="true">
  <serverUrls>
    <!-- serverUrl options:
    url = location of the ArcGIS Server, either specific URL or stem
    matchAll = true to forward any request beginning with the url
    token = (optional) token to include for secured service
    dynamicToken = if true, gets token dynamically with username and
    password stored in web.config file's appSettings section.    
    -->

    <!--igis-->
    <serverUrl url="https://web-who.integralgis.local/arcgis/rest/" matchAll="true" domain="integralgis" username="zzgis" password="Kr3fdg2"></serverUrl>
    <serverUrl url="https://apps.integralgis.com/arcgissecure/rest/" matchAll="true" domain="integralgis" username="zzgis" password="Kr3fdg2"></serverUrl>
    <serverUrl url="https://apps.integralgis.com/arcgissecure/tokens/" matchAll="true" domain="integralgis" username="zzgis" password="Kr3fdg2"></serverUrl>

    <!--dev-->
    <serverUrl url="https://gis12wwd.dtcorp.pjm.com/arcgis/rest/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://gis12wwd.dtcorp.pjm.com/arcgis/tokens/" matchAll="true" domain="" username="" password=""></serverUrl>

    <!--test-->
    <serverUrl url="https://gis12wwt.dtcorp.pjm.com/arcgis/rest/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://gis13wwt.dtcorp.pjm.com/arcgis/rest/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://dima.test.pjm.com/arcgis/arcgis/rest/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://gis12wwt.dtcorp.pjm.com/arcgis/tokens/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://gis13wwt.dtcorp.pjm.com/arcgis/tokens/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://dima.test.pjm.com/arcgis/arcgis/tokens/" matchAll="true" domain="" username="" password=""></serverUrl>

    <!--prod-->
    <serverUrl url="https://gis14wwp.corp.pjm.com/arcgis/rest/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://gis15wwp.corp.pjm.com/arcgis/rest/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://dima.pjm.com/arcgis/rest/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://gis14wwp.corp.pjm.com/arcgis/tokens/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://gis15wwp.corp.pjm.com/arcgis/tokens/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://dima.pjm.com/arcgis/tokens/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://gis72wwo.corp.pjm.com/arcgis/tokens/" matchAll="true" domain="" username="" password=""></serverUrl>
    <serverUrl url="https://gis52wwo.corp.pjm.com/arcgis/tokens/" matchAll="true" domain="" username="" password=""></serverUrl>


    <!--esri-->
    <serverUrl url="http://www.arcgis.com" matchAll="true"></serverUrl>
    <serverUrl url="https://www.arcgis.com" matchAll="true"></serverUrl>
    <serverUrl url="https://services.arcgisonline.com" matchAll="true"></serverUrl>
    <serverUrl url="https://services.arcgisonline.com" matchAll="true"></serverUrl>
    <serverUrl url="http://server.arcgisonline.com" matchAll="true"></serverUrl>
    <serverUrl url="https://server.arcgisonline.com" matchAll="true"></serverUrl>
    <serverUrl url="http://geocode.arcgis.com" matchAll="true"></serverUrl>
    <serverUrl url="https://geocode.arcgis.com" matchAll="true"></serverUrl>

    <!--wdt-->
    <serverUrl url="https://gisweb.wdtinc.com" matchAll="true" />
    <serverUrl url="https://gisweb.wdtinc.com/arcgis/rest/services/" matchAll="true" />
    <serverUrl url="https://gisweb.wdtinc.com/arcgis/tokens/" matchAll="true" />

  </serverUrls>

</ProxyConfig>
